/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}

ul,
ol,
li {
	
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	background: #fafafa;
	font-size: 14px;
	color: #252b42;
	font-weight: 500;
	font-family: Montserrat;
}
/* ---------------------------------------------------------------------------- */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/* ---------------------------------------------------------------------------- */
._container {
	max-width: 1046px;
	padding: 0px 15px;
	margin: 0px auto;
	box-sizing: content-box;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}





.form-up {
	background-color: #fff;
	border: 2px solid #c0e1f9;
	box-shadow: 0 0 0 10px #fff;
	height: 350px;
	width: 420px;
	text-align: center;
}

.mainText {
	font-size: 27px;
	margin: 40px 0 5px 0;
	color: #030303;
}

.secondText {
	font-size: 18px;
	margin: 0;
	color: #030303;
	margin-bottom: 25px;
}

.formInput {
	background: #f1f1f1;
	height: 50px;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	width: 300px;
	margin: 15px auto 0 auto;
}

.formInput i {
	font-size: 17px;
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
	padding-right: 10px;
}

.formInput input {
	flex: .7;
	background: #f1f1f1;
	border: none;
	outline: none;
	font-size: 15px;
}

.send {
	border: none;
	color: #fff;
	background: #058cdd;
	width: 180px;
	height: 40px;
	border-radius: 40px;
	font-weight: bold;
	font-size: 18px;
	margin-top: 30px;
	box-shadow: 0 0 20px 0 rgba(5, 140, 221, .8);
	transition: .4s;
	outline: none;
}

.send:hover {
	box-shadow: 0 0 25px 5px rgba(5, 140, 221, 1);
}


















/* ---ШАПКА------------------------------------------------------------------------- */
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;
}
@media (max-width: 479px) {
	.header__container {
		min-height: 70px;
	}
}
.header__logo {
	font-size: 24px;
	font-weight: 700;
	color: inherit;
}
.header__menu {
	margin: 0px 0px 0px 133px;
}
@media (max-width: 992px) {
	.header__menu {
		margin: 0px 0px 0px 80px;
	}
}
@media (max-width: 767px) {
	.header__menu {
		margin: 0px 0px 0px 40px;
	}
}
@media (max-width: 479px) {
	.header__menu {
		margin: 0px 0px 0px 20px;
	}
}
.menu {
	padding: 5px 0;
}
.menu__list {
	flex-wrap: wrap;
	display: flex;
}
@media (max-width: 479px) {
	.menu__list {
	display: block;
	}
}

.menu__item:not(:last-child) {
	margin: 0px 21px 0px 0px;
}
.menu__link {
	color: #fff;
	font-weight: 600;
	line-height: calc(24 / 14 * 100%);
	font-size: 25px;
}
.menu__link:hover {
	text-decoration: underline;
}
@media (max-width: 479px) {
	.menu__link {
		font-size: 18px;
	}
}
/* ---PAGE------------------------------------------------------------------------- */
.page {
	flex: 1 1 auto;
}
.page__main-block {
}
.page__services {
	position: relative;
	z-index: 2;
	margin: -111px 0px 0px 0px;
}
.page__advantages {
}
.page__practice {
}
.page__whoweare {
}
.page__clients:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.page__subscribe {
}
.page__getintouch {
}
.page__contact {
}
/* ---HEADER-BLOCK------------------------------------------------------------------------- */
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background-color: rgba(0, 2, 0, 0.39);
}
.header__container {
	max-width: 1200px;
	margin: 0px auto;
	display: flex;
	padding: 0px 30px;
	align-items: center;
	justify-content: space-between;
	min-height: 70px;
}
.header__logo {
color:#fff;
font-weight: 900;
font-size: 34px;
}
.header-block__title{
	font-weight: 700;
	font-size: 27px;
	text-align: center;
	padding-bottom: 20px;
}
.header__menu {
}
.menu {
}
.menu__icon {
	display: none;
}
.menu__body {
}
.menu__list {
}
.menu__list > li {
	position: relative;
	margin: 0px 0px 0px 20px;
}


.menu__link {
	color: #fff;
	font-size: 18px;
}
.menu__link:hover {
	text-decoration: underline;
}
.menu__sub-list {
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #000;
	padding: 15px;
	min-width: 200px;
}
.menu__sub-list li {
	margin: 0px 0px 10px 0px;
}
.menu__sub-list li:last-child {
	margin: 0;
}
.menu__sub-link {
	color: #fff;
}
.menu__sub-link:hover {
	text-decoration: underline;
}
.menu__arrow {
	display: none;
}


@media (min-width: 767px) {
	.menu__list {
	
	}
	.menu__list > li {
		padding: 10px 0;
		

	}

	.menu__sub-list {
		transform: translate(0px, 10%);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all 0.3s ease 0s;
	}
}
@media (max-width: 767px) {
	.menu__list{
		display: block;
	}
	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
	}
	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #fff;
	}
	.menu__icon::before,
	.menu__icon::after {
		content: "";
	}
	.menu__icon::before {
		top: 0;
	}
	.menu__icon::after {
		bottom: 0;
	}
	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}

	.menu__icon._active span {
		transform: scale(0) translate(0px, -50%);
	}
	.menu__icon._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	.menu__icon._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}

	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto;
	}
	.menu__body._active {
		left: 0;
	}

	.menu__body::before {
		content: "";
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 70px;
	    background-color: rgba(0, 2, 0, 0.39);
		z-index: 2;
	}

	.menu__list > li {
		flex-wrap: wrap;
		margin: 0px 0px 30px 0px;
		display: block;
		text-align: center;
	}
	.menu__list > li:last-child {
		margin-bottom: 0;
	}
	.menu__list > li._active .menu__sub-list {
		display: block;
	}
	.menu__link {
		font-size: 24px;
	}
	.menu__sub-list {
		position: relative;
		background-color: #fff;
		flex: 1 1 100%;
		margin: 20px 0px 0px 0px;
		display: none;
	}
	.menu__sub-link {
		font-size: 20px;
		color: #000;
	}
}





/* ---ПОДВАЛ------------------------------------------------------------------------- */
.footer {
}
/* ---MAIN-BLOCK------------------------------------------------------------------------- */
.main-block {
	position: relative;
}
.main-block__container {
}
.main-block__body {
	padding: 184px 0px 191px 0px;
	position: relative;
	z-index: 2;
	max-width: 100%;
}
@media (max-width: 992px) {
	.main-block__body {
		padding: 120px 0px 191px 0px;
	}
	.main-block__title{
		font-size: 20px;
	}
}
@media (max-width: 479px) {
	.main-block__body {
		padding: 115px 0px 160px 0px;
	}
}
.main-block__body > *:not(:last-child) {
	margin: 0px 0px 35px 0px;
}

.main-block__title {
	font-size: 58px;
	line-height: 137%;
	letter-spacing: 0.2px;
	font-weight: 800;
	color: #f9f9f9;
	background-color: rgba(0, 2, 0, 0.39);
}
@media (max-width: 479px) {
	.main-block__title {
		font-size: 27px;
	}
}
.main-block__text {
	color: #000;
	font-size: 20px;
	line-height: 150%;

}
@media (max-width: 479px) {
	.main-block__text {
		color: #000000;
	}
}
.main-block__buttons {
	display: flex;
	flex-wrap: wrap;
	margin: -10px 0;
}
.main-block__button {
	border-radius: 37px;
	display: flex;
	min-height: 48px;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.2px;
	font-weight: 700;
	text-align: center;
	line-height: 150%;
	padding: 5px 36px;
	margin: 10px 0;
	transition: all 0.3s ease 0s;
}

@media (max-width: 479px) {
	.main-block__button {
		flex: 1 1 100%;
	}
}
@media (min-width: 479px) {
	.main-block__button:not(:last-child) {
		margin-right: 10px;
	}
}
.main-block__button_orange {
	background: #ff7b47;
	color: #fff;
}
.main-block__button_orange:hover {
	background-color: #fff;
	color: #ff7b47;
}
.main-block__button_border {
	color: #0d5c63;
	border: 1px solid #0d5c63;
}
.main-block__button_border:hover {
	background-color: #0d5c63;
	color: #fff;
}
.main-block__image {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	max-width: 100%;
	right: 0;
	bottom: 0;
	padding: 0 !important;
	margin: 0 !important;
}
.video-bg {
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: 50% 50%;
	object-position: 50% 50%;
	font-family: 'object-fit: cover; object-position: center center;';
	position: absolute;
	width: 100%;
	height: 100%;
}

@media (max-width: 1300px) {
	.main-block__image img {
		object-position: right;
	}
}
@media (max-width: 992px) {
	.main-block__image {
		opacity: 0.5;
	}
}
/* ----------------------------------- */
.services {
}
.services__container {
}
.services__body {
}
@media (min-width: 670px) {
	.services__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px;
	}
}
.services__column {
	flex: 0 1 33.333%;
}
@media (min-width: 670px) {
	.services__column {
		padding: 0px 15px;
	}
}

@media (max-width: 992px) {
	.services__column {
		flex: 0 1 50%;
	}
	.services__column:not(:last-child) {
		margin: 0px 0px 30px 0px;
	}
	.services__column:last-child {
		flex: 1 1 100%;
	}
}
.services__item {
	height: 100%;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	background-color: #fff;
	padding: 35px;
}

@media (max-width: 479px) {
	.services__item {
		padding: 25px;
	}
}
.item-service {
}
.item-service_green {
	background-color: #0d5c63;
}
.item-service_green .item-service__title {
	color: #fff;
}
.item-service_green .item-service__text {
	color: #fff;
}

.item-service > *:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.item-service__icon {
}
.item-service__title {
	font-weight: 700;
	letter-spacing: 0.1px;
	font-size: 24px;
	line-height: 133%;
}
.item-service__text {
	color: #737373;
	line-height: 142%;
}
/* --------------------------------------------- */
.advantages {
	padding: 80px 0;
}
@media (max-width: 992px) {
	.advantages {
		padding: 50px 0;
	}
}
@media (max-width: 767px) {
	.advantages {
		padding: 40px 0;
	}
}
.advantages__container {
}
.advantages__header {
	margin: 0px 0px 50px 0px;
}
@media (max-width: 767px) {
	.advantages__header {
		margin: 0px 0px 25px 0px;
	}
}
.advantages__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px -30px;
	justify-content: center
}
.advantages__block{

}
.advantages__column {
	padding: 0px 15px;
	margin: 0px 0px 30px 0px;
	flex: 0 1 50%;
}

@media (max-width: 1020px) {
	.advantages__column {
		flex: 0 1 100%;
	}
}
@media (max-width: 560px) {
	.advantages__column {
		flex: 0 1 100%;
	}
}

.advantages__item {
	background-color: #fff;
	padding: 30px;
	font-weight: 700;
	text-align: center;
	
}
.advantages__item > *:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.advantages__icon {

	display: flex;
	align-items: flex-end;
	justify-content: center;

	
}
.advantages__icon img{
	max-width: 345px;
	max-height: 300px;
}
.advantages__value {
	font-size: 25px;
	line-height: 142%;
	
}
.advantages__text {
	letter-spacing: 0.1px;
	color: #737373;
	font-size: 16px;
	line-height: 150%;
	min-height: 100px;
}

/* -------------------------------- */

@media (max-width: 993px) {
	.practice {
		padding: 40px 0px 80px 0px;
	}
}
@media (max-width: 767px) {
	.practice {
		padding: 0px 0px 40px 0px;
	}
}
.practice__container {
}
.practice__header {
	margin: 0px 0px 45px 0px;
}
@media (max-width: 767px) {
	.practice__header {
		margin: 0px 0px 25px 0px;
	}
}

.practice__body {
	margin: 0px -20px -30px;
	display: flex;
	flex-wrap: wrap;
}
.practice__column {
	padding: 0px 20px;
	margin: 0px 0px 30px 0px;
	flex: 0 1 50%;
}

@media (max-width: 1040px) {
	.practice__column {
		flex: 0 1 50%;
	}
}
@media (max-width: 630px) {
	.practice__column {
		flex: 0 1 100%;
	}
}

.practice__item {
}
.item-practice {
	background-color: #fff;
	display: flex;
	height: 100%;
	flex-direction: column;
}
.item-practice__content {
	padding: 30px;
	flex: 1 1 auto;
}
.item-practice__link {
	color: inherit;
	display: inline-block;
}
.item-practice__link:hover {
	text-decoration: underline;
}
.item-practice__link:not(:last-child) {
	margin: 0px 0px 15px 0px;
}
.item-practice__title {
	letter-spacing: 0.1px;
	font-size: 16px;
	font-weight: 700;
	line-height: 150%;
}
.item-practice__text {
	color: #737373;
	line-height: 142%;
}
.item-practice__image {
	display: block;
	padding: 0px 0px 60% 0px;
}
/* ------------------------------------- */
.whoweare {
	background: #ffffff;
	padding: 80px 0px 130px 0px;
}
.whoweare__container {
}
.whoweare__header {
	margin: 0px 0px 100px 0px;
}
.whoweare__body {
	display: flex;
	align-items: flex-start;
}
.whoweare__video {
	flex: 0 0 57%;
	position: relative;
	padding: 0px 0px 42.25% 0px;
}
.whoweare__video iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.whoweare__content {
	flex: 1 1 auto;
	padding: 20px 0px 0px 121px;
}
.whoweare__title {
	font-weight: 800;
	font-size: 40px;
	line-height: 142%;
	letter-spacing: 0.2px;
}
.whoweare__title:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.whoweare__text {
	color: #737373;
	line-height: 142%;
}
.whoweare__top:not(:last-child) {
	margin: 0px 0px 50px 0px;
}
.whoweare__items {
}
.whoweare__item {
}
.whoweare__item:not(:last-child) {
	margin: 0px 0px 30px 0px;
}

.item-whoweare {
	display: flex;
}
.item-whoweare__icon {
	flex: 0 0 32px;
}
.item-whoweare__body {
	flex: 1 1 auto;
	padding: 0px 0px 0px 20px;
}
.item-whoweare__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
}
.item-whoweare__title:not(:last-child) {
	margin: 0px 0px 5px 0px;
}
.item-whoweare__text {
	color: #737373;
	white-space: nowrap;
	line-height: 142%;
	width: 225px;
	overflow: hidden;
	text-overflow: ellipsis;
}
@media (max-width: 1080px) {
	.whoweare__content {
		padding: 0px 0px 0px 50px;
	}
}
@media (max-width: 950px) {
	.whoweare {
		padding: 50px 0px 50px 0px;
	}
	.whoweare__body {
		flex-direction: column-reverse;
		align-items: stretch;
	}
	.whoweare__title {
		font-size: 24px;
	}
	.whoweare__content {
		padding: 0px 0px 0px 0px;
	}
	.whoweare__video {
		padding: 0px 0px 56.25% 0px;
	}
	.whoweare__video:not(:last-child) {
		margin: 50px 0px 0px 0px;
	}
	.whoweare__header {
		margin: 0px 0px 30px 0px;
	}
}
@media (max-width: 767px) {
	.whoweare {
		padding: 20px 0px 50px 0px;
	}
	.whoweare__top:not(:last-child) {
		margin: 0px 0px 30px 0px;
	}
	.whoweare__video:not(:last-child) {
		margin: 30px 0px 0px 0px;
	}
}
/* ----------------------------------- */
.clients {
	padding: 50px 0;
}
@media (max-width: 767px) {
	.clients {
		padding: 30px 0;
	}
}
.clients__container {
}
.clients__items {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}
.clients__item {
	padding: 8px 15px;
	flex: 0 1 16.6667%;
	text-align: center;
	min-width: 140px;
}
.clients__item img {
	max-width: 100%;
}
/* ----------------------------- */
.subscribe {
	position: relative;
	padding: 0px 0px 20px 0px;
}
.subscribe::before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 77px;
	left: 0;
	background: #252b42;
}
.subscribe__container {
}
.subscribe__body {
	position: relative;
	z-index: 2;
	padding: 30px 50px;
	align-items: center;
	background: #17213c;
	border-radius: 2px;
}

@media (min-width: 1070px) {
	.subscribe__body {
		margin: 0px 30px;
	}
}
.subscribe__title {
	color: #fff;
	font-size: 133%;
	line-height: 32px;
	font-weight: 700;
	letter-spacing: 0.1px;
}
@media (max-width: 810px) {
	.subscribe__title {
		margin: 0px 0px 20px 0px;
	}
	.subscribe__body {
		margin: 0px -15px;
		padding: 20px 15px;
	}
}

@media (min-width: 810px) {
	.subscribe__title {
		max-width: 266px;
	}
	.subscribe__body {
		display: flex;
		justify-content: space-between;
	}
}

.subscribe__form {
	flex: 0 1 50%;
	display: flex;
	align-items: center;
}
.subscribe__input {
	width: 100%;
	flex: 1 1 auto;
	min-height: 58px;
	background: #f9f9f9;
	color: #737373;
	padding: 0px 20px;
	border: 1px solid #e6e6e6;
	border-right: 0;
	box-sizing: border-box;
	border-radius: 5px 0 0 5px;
}
.subscribe__input:focus {
	color: #000;
}

.subscribe__button {
	background: #ff7b47;
	border: 1px solid #e6e6e6;
	border-radius: 0px 5px 5px 0px;
	display: flex;
	min-height: 58px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	text-align: center;
	color: #fff;
	transition: all 0.3s ease 0s;
	padding: 0px 22px;
}
.subscribe__button:hover {
	background: #ca6137;
}
@media (max-width: 810px) {
	.subscribe__button {
		padding: 0px 15px;
	}
	.subscribe__input {
		padding: 0px 15px;
	}
}



/* ------------------------------------------ */
.contact {
	background-color: #fff;
	padding: 42px 0;
}
.contact__container {
}

.contact__content {
	padding: 0px 0px 20px 0px;
}

@media (min-width: 767px) {
	.contact__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.contact__content {
		padding: 0px 20px 0px 0px;
	}
}

.contact__title {
	font-weight: 700;
	letter-spacing: 0.1px;
	font-size: 24px;
	line-height: 133%;
}
.contact__title:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.contact__text {
	color: #737373;
	line-height: 142%;
}
.contact__button {
	display: flex;
	background-color: #ff7b47;
	border-radius: 5px;
	min-height: 58px;
	padding: 5px 40px;
	transition: background-color 0.3s ease 0s;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
}
.contact__button:hover {
	background-color: #aa5330;
} */

/* --------------------------------------------------- */

.footer {
}
.footer__top {
	background: #17213c;
	padding: 35px 0;
}
.footer__main {
}
.footer__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
	justify-content: space-around;
}
.footer__column {
	padding: 15px 15px;
	flex: 0 1 16.6667%;
}
.footer__column:last-child {
	flex: 0 1 33.334%;
}
@media (max-width: 992px) {
	.footer__column {
		flex: 0 1 25%;
	}
	.footer__column:last-child {
		flex: 1 1 100%;
	}
}
@media (max-width: 992px) {
	.footer__column {
		flex: 0 1 50%;
	}
}

.footer__label {
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	margin: 0px 0px 20px 0px;
}
.footer__menu {
}

.menu-footer {
}
.menu-footer__list {
}
.menu-footer__item:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.menu-footer__link {
	color: #fff;
	display: inline-block;
	line-height: 171%;
	letter-spacing: 0.2px;
}
.menu-footer__link:hover {
	text-decoration: underline;
}

.footer__contacts {
}

.contacts-footer {
	display: flex;
	flex-direction: column;
}
.contacts-footer__item {
	padding: 0px 0px 0px 34px;
	line-height: 142%;
	display: flex;
	align-items: center;
	color: #ffffff;
	min-height: 30px;
}
.contacts-footer__item:hover {
	text-decoration: underline;
}
.contacts-footer__item:not(:last-child) {
	margin: 0px 0px 12px 0px;
}
.contacts-footer__item_phone {
	background: url("../img/footer/icons/01.svg") 0 0 no-repeat;
}
.contacts-footer__item_map {
	background: url("../img/footer/icons/02.svg") 0 0 no-repeat;
}
.contacts-footer__item_email {
	background: url("../img/footer/icons/03.svg") 0 0 no-repeat;
}
.footer__bottom {
	padding: 25px 0;
}
.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__copy {
	color: #737373;
	line-height: 171%;
}
.footer__social {
}

.social {
	display: flex;
	align-items: center;
}
.social__item:not(:last-child) {
	margin: 0px 20px 0px 0px;
}
@media (max-width: 767px) {
	.footer__container {
		flex-direction: column;
	}
	.footer__copy {
		margin: 0px 0px 15px 0px;
		text-align: center;
	}
}











.wrapper-form{
	background-color: #252b42;;
}

.form {
	max-width: 550px;
	margin: 0px auto;
	color: #fff;
	padding: 30px 0;
}

.form * {
	outline: none;
}

.form__body {
	position: relative;
}
.form__body::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(51, 51, 51, 0.9) url("../img/loading.gif") center / 50px no-repeat;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;
}
.form__body._sending::after {
	opacity: 1;
	visibility: visible;
}

.form__title {
	font-size: 40px;
	font-weight: 700;
	margin: 0px 0px 30px 0px;
}
.form__item {
	margin: 0px 0px 20px 0px;
}
.form__label {
	font-size: 18px;
	display: block;
	margin: 0px 0px 10px 0px;
}
.form__input {
	height: 50px;
	padding: 0px 20px;
	border-radius: 5px;
	width: 100%;
	font-size: 18px;
	transition: all 0.5s ease 0s;
}

.form__input:focus {
	box-shadow: 0 0 15px #7a956b;
}
.form__input._error {
	box-shadow: 0 0 15px red;
}

textarea.form__input {
	min-height: 120px;
	resize: vertical;
	padding: 20px;
}

.options {
	padding: 10px 0px 0px 0px;
}
.options__item {
	margin: 0px 0px 10px 0px;
}
.options__input {
	display: none;
}

.options__input:checked + .options__label::after {
	transform: scale(1);
}

.options__label {
	display: inline-flex;
	font-size: 16px;
	line-height: 140%;
	align-items: center;
	position: relative;
	cursor: pointer;
}
.options__label::before {
	content: "";
	align-self: flex-start;
	flex: 0 0 24px;
	height: 24px;
	background-color: #fff;
	border-radius: 50%;
	margin: 0px 10px 0px 0px;
}
.options__label::after {
	transition: transform 0.5s ease 0s;
	content: "";
	position: absolute;
	top: 4px;
	left: 4px;
	width: 16px;
	height: 16px;
	background-color: #7a956b;
	border-radius: 50%;
	transform: scale(0);
}

.file {
}

.file__item {
	position: relative;
}
.file__input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	font-size: 0;
	cursor: pointer;
}
.file__button {
	display: inline-flex;
	min-height: 40px;
	border-radius: 30px;
	justify-content: center;
	align-items: center;
	background-color: #77608d;
	padding: 0px 20px;
}
.file__preview {
	display: inline-block;
	max-width: 100px;
	padding: 10px 0px 0px 0px;
}
.file__preview img {
	max-width: 100%;
}

.checkbox {
}
.checkbox._error .checkbox__label::before {
	box-shadow: 0 0 15px red;
}
.checkbox__input {
	display: none;
}
.checkbox__input:checked + .checkbox__label::after {
	transform: scale(1);
}

.checkbox__label {
	font-size: 16px;
	line-height: 140%;
	display: inline-flex;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.checkbox__label::before {
	content: "";
	align-self: flex-start;
	flex: 0 0 24px;
	height: 24px;
	background-color: #fff;
	border-radius: 4px;
	margin: 0px 10px 0px 0px;
}
.checkbox__label::after {
	transition: transform 0.5s ease 0s;
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	top: 4px;
	left: 4px;
	background-color: #7a956b;
	border-radius: 4px;
	transform: scale(0);
}

.checkbox__label a {
	color: #7a956b;
}

.form__button {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60px;
	background-color: #7a956b;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	cursor: pointer;
	border-radius: 20px;
	box-shadow: 0 5px 0 #161b13;
	transition: background-color 0.5s ease 0s;
	position: relative;
	top: 0;
}
.form__button:hover {
	background-color: #4f6146;
}
.form__button:active {
	top: 3px;
	box-shadow: 0 2px 0 #161b13;
}







.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;

}














